{
  "extends": [ "react-app", "airbnb" ],

  "rules": {
    "jsx-quotes": [ 2, "prefer-double" ],
    "object-curly-spacing": [ "error", "always" ],
    "array-bracket-spacing": [ "error", "always" ],
    "comma-dangle": [ "error", "never" ],
    "semi": [ "error", "never" ],
    "consistent-return": "off",
    "arrow-body-style": "off",
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "no-param-reassign": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "react/class-methods-use-this": "off",
    "react/destructuring-assignment": "off",
    "react/no-unused-state": "off",
    "object-curly-newline": "off",
    "no-underscore-dangle": [ "error", { "allow": [ "_id" ] } ]
  },

  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jquery": true,
    "browser": true
  },

  "globals": {
    "Backbone": true
  }
}
